<footer class="footer_5sensi">
<p class="text-center">
	Cinque Sensi<br>
	Via Roma, 71 - 19018 Vernazza, Cinque Terre (SP)<br>
	vernazzacinquesensi@gmail.com<br>
	<br><br>
	Wine & Mix S.r.l.s.<br>
	Via Avezzana, 7 - 10023 Chieri (TO)<br>
	P.ta IVA 12034600010<br>
</p>
</footer>

<p class="text-center" style="font-size: 12px;">Made with <ion-icon name="heart" style="color: red;"></ion-icon> da <a target="_blank" href="http://www.margreco.it">Rudi Greco</a> e <a href="https://danimog.github.io" target="_blank">Daniele Moggia</a>
</p>
