<div id="carousel5sensi" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{site.baseurl}}/assets/images/quadro_1920x1378.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block caption-cinque-sensi">
        <h1><strong>Cinque Sensi</strong></h1>
        <h4>Un locale caratteristico dove puoi sederti, degustare e comprare vino, olio EVO, birra e liquori selezionati tra le migliori produzioni locali ed italiane</h4>
      </div>
    </div>
  </div>
</div>