<div class="card-group" style="margin: 2.5em auto;">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">LOCATION</h5>
      <p class="card-text">Via Roma 71<br>Vernazza - Cinque Terre</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">SPRING HOURS</h5>
      <p class="card-text">Open from 12 p.m to 1 a.m.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">CONTACT & INFO</h5>
      <p class="card-text">vernazzawinexperience@gmail.com | +39 331 3433801</p>
    </div>
  </div>
</div>