<div class="spot_5sensi">

<div class="card-group">
  <div class="card">
    <img src="{{site.baseurl}}/assets/images/5sensi_card_001.png" class="card-img-top card_5sensi_light" alt="...">
    <div class="card-body">
      <h5 class="card-title">WINE</h5>
      <p class="card-text">Un locale caratteristico dove puoi sederti, degustare e comprare vino, olio EVO, birra e liquori selezionati tra le migliori produzioni locali ed italiane. Nulla convallis, ex ut posuere mattis, ipsum diam feugiat leo, non imperdiet felis lorem et lorem. Aliquam erat elit, efficitur sed mauris at, sodales rutrum purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p-->
    </div>
  </div>
  <div class="card card_5sensi_light">
    <img src="{{site.baseurl}}/assets/images/5sensi_card_002.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">COCKTAILS</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      
    </div>
  </div>
  <div class="card">
    <img src="{{site.baseurl}}/assets/images/5sensi_card_003.png" class="card-img-top card_5sensi_dark" alt="...">
    <div class="card-body">
      <h5 class="card-title">TASTING</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      
    </div>
  </div>
  <div class="card card_5sensi_light">
    <img src="{{site.baseurl}}/assets/images/5sensi_card_004.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PESTO CLASS</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      
    </div>
  </div>
</div>

</div>