<div class="tripadvisor">
	<img src="{{ site.baseurl }}/assets/images/ta_logo.png" class="img-fluid" style="margin-bottom: 2em auto;">

	<h3><strong>Serata perfetta</strong></h3>
	<p>
		Siamo entrati attratti dalla bellezza del locale, caldo, accogliente e promettente. Il tris di vini scelti per la nostra degustazione era eccezionale, il tutto accompagnato da taglieri di salumi e formaggi, torta di verdure tipica e focaccia fresca fatta dal proprietario
	</p>
	<a target="_blank" href="https://www.tripadvisor.it/Attraction_Review-g187822-d17620821-Reviews-Vernazza_Cinque_Sensi-Vernazza_Cinque_Terre_Italian_Riviera_Liguria.html">read more..</a>
</div>