<!doctype html>
<html lang="it">
  
  {% include head.html %}

  <body>
    
    <div class="container-fluid text-center">
      {% include header.html %}
    </div> 

    <div class="container-fluid text-center">
      {% include homepage.html %}
    </div> 

    <div class="container-fluid text-center">
      {% include spot.html %}
    </div> 

    <div class="container-fluid text-center">
      {{content}}
    </div>

    <!--div class="container">
      {% include tripadvisor.html %}
    </div>

    <div class="container-fluid text-center">
      {% include social.html %}
    </div--> 

    <div class="container-fluid">
      {% include footer.html %}
    </div>
    
    {% include script.html %}
    
  </body>
</html>